*json
*.safetensors
*.pt
*.pyc
*.bin
*.lock
*.tar
*.png
__pycache__/
.ipynb_checkpoints/
output.txt
error.txt
train.sh
train2.sh
dataset/

script_backup/
scripts/test.py
scripts/distribution.py

RESULTS/exp_flair_opAdam_lr0.0001_bs16_epoch0_200
RESULTS/exp_t1ce_opAdam_lr0.0001_bs16_epoch0_200
RESULTS/exp_t1ce-flair_opAdam_lr0.0001_bs16_epoch0_200
RESULTS/expAugmented_flair_opAdam_lr0.0001_bs16_epoch0_200
RESULTS/expAugmented_t1ce_opAdam_lr0.0001_bs16_epoch0_200
RESULTS/MyExperiment_t1ce-flair_opAdam_lr0.0001_bs16_epoch0_50
RESULTS/temp_t1ce-flair_opAdam_lr0.0001_bs16_epoch0_2
*.log

# Ignore SCC qsub status files
*.sh.e*
*.sh.o*
*.sh.pe*
*.sh.po*